.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  flex: 1;
  overflow-y: scroll;
  position: relative;
  background: #e4e7ea;
}
html,body,#root{
  height: 100%;
}

.side{
  writing-mode: vertical-rl;
  height: 100%;
  width: 3rem;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: 0 1px 1px #363636 inset;
  position: absolute;
  left: 0;
  color: #282828;
  font-size: 54px;
  text-shadow: 0 0 4px white,    
               0 -5px 4px #ff3,   
               3px -10px 6px #fd3,    
               -3px -15px 11px #C90,   
               3px -25px 18px #f20;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.first{
  margin-right: 0.1rem;
  margin-top: 0.6rem;
}
.second{
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  background: #000;
  -webkit-overflow-scrolling: touch;
  width: 85%;
}
.am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.am-drawer-content{
  display: flex;
  flex-direction: column;
}