.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  flex: 1;
  overflow-y: scroll;
  position: relative;
}
html,body,#root{
  height: 100%;
}
.side{
  writing-mode: vertical-rl;
  height: 100%;
  background: #000;
  width: 85%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: 0 1px 1px #363636 inset;
  position: absolute;
  left: 0;
  color: #282828;
  font-size: 60px;
  text-shadow: 0 0 4px white,    
               0 -5px 4px #ff3,   
               3px -10px 6px #fd3,    
               -3px -15px 11px #C90,   
               3px -25px 18px #f20;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.first{
  margin-right: 0.1rem;
  margin-top: 0.6rem;
}
.second{
  margin-top: 1.7rem;
  margin-left: 0.5rem;
}
.mark{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: absolute;
}